/*
Credit for some of this code goes to Treehouse Learning.
*/

body {
	bgcolor: #ffffff;
	font-family: 'Nunito', sans-serif;
	color: #000000;
	
}

a {
	color: #000000;
	text-decoration: none;
}

h1 {
	font-size: 1.750em;
	font-weight: 100;
	letter-spacing: -1.5px;
	text-align: center;
}

h2 {
	font-weight: 100;
	font-size: 1.500em;
	color: #339999;
}

h3 {
	font-weight: 75;
	font-size: 1.2500em;
	color: #339999;
}

fieldset.subtitle{
	font-family: 'cursive', monotype corsiva;
	font-size: 2.50em;
	color: #66cc99;
	border-top: 2px solid #a0a0a0;
	border-bottom:none;
	border-left: none;
	border-right: none;
	display: block;
	text-indent: 0pt;
}

fieldset.subtitle legend{
	padding: 0px 10px;
	
}




ul.nav {
	margin: 0 auto;
	padding: 12px 0 0 0;
	list-style: none;
	float: right;
}

ul.nav li {
	float: left;
	margin: 0;
	color: #A0A0A0;
	font-family: 'Nunito', sans-serif;
	border: 0;
	font-weight: 100;
	font-size: .75em;
	background: #A0A0A0;
	border-radius: 0px; /*increasing the border radius makes rounded edges*/
	text-transform: uppercase;
	width: 120px; /*fixes width of unordered list*/
}

ul.nav li:hover {
		background-color: #66cc99;
		
}

ul.nav li a {
	color: #000000;
	display: block;
	padding: 15px 20px; /*vertical padding px horizontal padding px*/
	text-decoration: none;
}

ul.nav li.current{
	background-color:#66cc99;
}

#hello {
	margin: 12px 0 20px 0;
	text-align: center;
}


#contact{
	color: #66cc99;
	font-size: .8em;
	text-align: center;

}



#story {
	font-family: 'EB garamond', garamond;
	padding: 0px 20px;
	text-align: justify;

}

img.ourstory {
	
	width: 220px;
	border: solid #A0A0A0 2px;
	margin: 5px;
	
	
}

#proposal {
	font-family: 'EB garamond', garamond;
	padding: 0px 20px;
	text-align: justify;
	margin-left: 150px;

}

img.proposalleft {
	width: 300px;
	border: solid #A0a0a0 2px;
	margin: 0px 50px 20px 0px;
}

img.proposalright {
	width: 300px;
	border: solid #a0a0a0 2px;
	margin: 0px 5px 20px 50px;
}

#party {
	font-family: 'EB garamond', garamond;
	
	padding: 0px 20px;
	text-align: justify;
	margin-left: 150px;
	margin-right: auto;
}

img.left {

	width: 200px;
	border: solid #a0a0a0 2px;
	margin: 0px 50px 20px 0px;
}

img.right {
	width: 200px;
	border: solid #a0a0a0 2px;
	margin: 0px 5px 20px 50px;
}

#cr {
	font-family: 'EB garamond', garamond;
	padding: 0px 20px;
	text-align: justify;

}

#rsvp {
	font-family: 'EB garamond', garamond;
	padding: 0px 0 px 0px 0px;
	text-align: justify;

}
a.map:hover{
	color:#66cc99;

}
#accent {
	border-top: 8px solid #A0a0a0;
	padding: 10px 0;
	margin: 15px 0;
	
}

#registrypoem {
	font-family: 'EB garamond', garamond;
	padding: 0px 0px 0px 50px;
	text-align: justify;

}

#registry {
	font-family: 'EB garamond', garamond;
	padding: 0px 150px;
	text-align: left;

}

#macys{
	color: #66cc99;
	font-size: .8em;
	text-align: center;

}

#amazon{
	color: #66cc99;
	font-size: .8em;
	text-align: center;

}